$bg_header: #1E3A8A;
$btn_destaque: #2563EB;
$bg_geral: #F9FAFB;
$borda: #E5E7EB;
$texto_principal: #111827;
$cinza_secundario: #6B7280;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $borda;

    img {
        width: 6vw;
        min-width: 5rem;
        margin-bottom: 1rem;
    }

    #block {
        background-color: #FFF;
        max-width: 90%;
        width: 350px;
        border-radius: .5rem;
        padding: 1.5rem 1.25rem;
        border: 1px solid #c9c9c9;
        display: flex;
        flex-direction: column;

        h4 {
            margin-bottom: 0;

            ~ {
                p {
                    color: #666;
                    font-size: .9rem;
                }
            }
        }

        label, small {
            color: #666;
        }

        label {
            font-weight: 500;
            font-size: .9rem;
        }

        small {
            font-size: .8rem;
        }

        button[type='submit'] {
            background-color: #2EABFF;
            border-color: #2EABFF;
            color: #FFF;
            font-size: 1.1rem;

            &:hover {
                background-color: #FFF;
                color: #2EABFF;
            }
        }

        .position-relative {
            input {
                padding-right: 1.7rem;
            }

            #btnPassLogin {
                cursor: pointer;
                position: absolute;
                right: .5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        #type {
            > div {
                display: flex;
                gap: .5rem;
                flex-wrap: wrap;

                > div {
                    border-radius: .375rem;
                    border: 1px solid #c9c9c9;
                    padding: .5rem;
                    text-align: center;
                    width: calc(33.33% - .34rem);
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &.active {
                        background-color: #2eabffcb;

                        .bg {
                            background-color: transparent;
                        }

                        small {
                            color: #FFF;
                        }
                    }

                    .bg {
                        background-color: #2eabffcb;
                        width: 4.5rem;
                        height: 4.5rem;
                        border-radius: 50%;
                        margin: 0 auto .5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            object-fit: contain;
                            object-position: center;
                            width: 75%;
                            height: 75%;
                            margin: 0;
                        }
                    }

                    &:hover {
                        background-color: #2eabffcb;

                        .bg {
                            background-color: transparent;
                        }

                        small {
                            color: #FFF;
                        }
                    }

                    @media (max-width: 800px) {
                        width: calc(50% - .25rem);    
                    }
                }
            }

        }
    }
}