* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F9FAFB;
}

body header {
  background-color: #FFF;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header img {
  width: 4vw;
  min-width: 4rem;
}

body header > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header > div h6 {
  margin: 0;
  color: #2EABFF;
}

body header > div button, body header > div a {
  background-color: transparent;
  color: #2EABFF;
  border: 0;
  font-weight: 400;
}

body .d-flex#block_aside_main {
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .d-flex#block_aside_main aside {
  width: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body .d-flex#block_aside_main aside.opened {
  width: 200px;
}

@media (min-width: 600px) {
  body .d-flex#block_aside_main aside {
    width: 200px;
  }
  body .d-flex#block_aside_main aside.opened {
    width: 0;
  }
}

body .d-flex#block_aside_main aside ul {
  margin: 0;
  padding: 3rem 0rem;
}

body .d-flex#block_aside_main aside ul li {
  list-style: none;
}

body .d-flex#block_aside_main aside ul li a {
  color: #111827;
  text-decoration: none;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 12px;
}

body .d-flex#block_aside_main aside ul li a:hover {
  color: #2EABFF;
}

body .d-flex#block_aside_main aside ul li:not(:first-of-type) {
  margin-top: 1rem;
}

body .d-flex#block_aside_main main {
  padding: 3rem 0;
  background-color: #F9FAFB;
  position: relative;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  min-height: 100dvh;
}

body .d-flex#block_aside_main main.opened {
  width: calc(100% - 200px);
}

body .d-flex#block_aside_main main.full {
  width: 100%;
}

@media (min-width: 600px) {
  body .d-flex#block_aside_main main {
    width: calc(100% - 200px);
  }
  body .d-flex#block_aside_main main.opened {
    width: 100%;
  }
  body .d-flex#block_aside_main main.full {
    width: 100%;
  }
}

body .d-flex#block_aside_main main #toggle_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: transparent;
  border: 0;
  border-radius: 0 0 .25rem;
  color: #111827;
}

body .d-flex#block_aside_main main #products_index {
  text-align: center;
}

body .d-flex#block_aside_main main #products_index .products > .card {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-header img {
  border-radius: .375rem .375rem 0 0;
  max-width: 100%;
  height: auto;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-image img {
  width: 7rem;
  height: 7rem;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: start;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-content h5 {
  margin-bottom: 0;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-content p:last-of-type {
  margin-bottom: 0;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-actions {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-actions button.addCart {
  background-color: #2EABFF;
  border-color: #2EABFF;
  opacity: 1;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  width: 100%;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-actions button.addCart:hover {
  opacity: .9;
}

body .d-flex#block_aside_main main #products_index .products > .card .card-body .product-actions .d-flex a {
  background-color: transparent;
  color: #2EABFF;
  padding: 0;
  margin: 0;
}

body .d-flex#block_aside_main main #products_index a {
  background-color: #2EABFF;
  color: #FFF;
  padding: .5rem 1rem;
  display: table;
  margin: 0 auto;
  text-align: center;
  border-radius: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
}

body .d-flex#block_aside_main main #products_index button[type='submit'] {
  background-color: transparent;
  color: #2EABFF;
  border: 0;
}

body .d-flex#block_aside_main main #products_create #image_preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

body .d-flex#block_aside_main main #products_create #image_preview > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100px;
  margin-bottom: 10px;
}

body .d-flex#block_aside_main main #products_create #image_preview > div img {
  width: 100px;
  height: 100px;
}

body .d-flex#block_aside_main main #products_edit #current_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

body .d-flex#block_aside_main main #products_edit #current_images > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100px;
  margin-bottom: 10px;
}

body .d-flex#block_aside_main main #products_edit #current_images > div img {
  width: 100px;
  height: 100px;
}

body .d-flex#block_aside_main main #products_edit #image_preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

body .d-flex#block_aside_main main #products_edit #image_preview > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100px;
  margin-bottom: 10px;
}

body .d-flex#block_aside_main main #products_edit #image_preview > div img {
  width: 100px;
  height: 100px;
}

body .d-flex#block_aside_main main button[type='submit'] {
  background-color: #2EABFF;
  border-color: #2EABFF;
  opacity: 1;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

body .d-flex#block_aside_main main button[type='submit']:hover {
  opacity: .9;
}

body .d-flex#block_aside_main main #products_catalog h4 {
  text-align: center;
}

body .d-flex#block_aside_main main #products_catalog button#send_whatsapp {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */