$bg_header: #1E3A8A;
$btn_destaque: #2EABFF;
$bg_geral: #F9FAFB;
$borda: #E5E7EB;
$texto_principal: #111827;
$cinza_secundario: #6B7280;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg_geral;

    header {
        background-color: #FFF;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 4vw;
            min-width: 4rem;
        }
    }

    .d-flex {
        flex-wrap: wrap;

        aside {
            width: 0;
            transition: all .3s ease-in-out;

            &.opened {
                width: 200px;
            }

            @media (min-width: 600px) {
                width: 200px;

                &.opened {
                    width: 0;
                }   
            }
        
            ul {
                margin: 0;
                padding: 3rem 0rem;
                
                li {
                    list-style: none;
        
                    a {
                        color: $texto_principal;
                        text-decoration: none;
                        display: block;
                        width: 100%;
                        font-weight: 500;
                        font-size: 1rem;
                        padding: 0 1rem;
        
                        &:hover {
                            color: $btn_destaque;
                        }
                    }
        
                    &:not(:first-of-type) {
                        margin-top: 1rem;
                    }
                }
            }
        }
        
        main {
            padding: 3rem 0;
            background-color: $bg_geral;
            position: relative;
            width: 100%;
            transition: all .3s ease-in-out;

            &.opened {
                width: calc(100% - 200px);
            }

            @media (min-width: 600px) {
                width: calc(100% - 200px);

                &.opened {
                    width: 100%;
                }   
            }
        
            #toggle_button {
                position: absolute;
                top: 0;
                left: 0;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                background-color: transparent;
                border: 0;
                border-radius: 0 0 .25rem;
                color: $texto_principal;
            }

            #products_index {
                text-align: center;

                .products {
                    > .card {
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                        .card-header {
                            img {
                                border-radius: .375rem .375rem 0 0;
                                max-width: 100%;
                                height: auto;
                            }
                        }

                        .card-body {
                            display: flex;
                            flex-wrap: wrap;
                            gap: .5rem;

                            .product-image {
                                img {                                    
                                    width: 7rem;
                                    height: 7rem;
                                }
                            }

                            .product-content {
                                flex: 1 1;
                                text-align: start;

                                h5 {
                                    margin-bottom: 0;
                                }

                                p {
                                    &:last-of-type {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            .product-actions {
                                flex: 1 1 100%;

                                button.addCart {
                                    background-color: $btn_destaque;
                                    border-color: $btn_destaque;
                                    opacity: 1;
                                    transition: all .35s ease-in-out;
                                    width: 100%;
    
                                    &:hover {
                                        opacity: .9;
                                    }
                                }

                                .d-flex {
                                    a {
                                        background-color: transparent;
                                        color: $btn_destaque;
                                        padding: 0;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                a {
                    background-color: $btn_destaque;
                    color: #FFF;
                    padding: .5rem 1rem;
                    display: table;
                    margin: 0 auto;
                    text-align: center;
                    border-radius: 1.5rem;
                    font-size: 1rem;
                    text-decoration: none;
                }

                button[type='submit'] {
                    background-color: transparent;
                    color: $btn_destaque;
                    border: 0;
                }
            }

            #products_create {
                #image_preview {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;

                    .img-thumbnail {
                        width: 100px;
                        height: 100px;
                        margin-bottom: 10px;
                    }
                }
            }

            #products_edit {
                #current_images {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;

                    > div {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;

                        .img-thumbnail {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }

                #image_preview {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;

                    .img-thumbnail {
                        width: 100px;
                        height: 100px;
                        margin-bottom: 10px;
                    }
                }
            }

            button[type='submit'] {
                background-color: $btn_destaque;
                border-color: $btn_destaque;
                opacity: 1;
                transition: all .35s ease-in-out;

                &:hover {
                    opacity: .9;
                }
            }
        }
    }
}
