$bg_header: #1E3A8A;
$btn_destaque: #2563EB;
$bg_geral: #F9FAFB;
$borda: #E5E7EB;
$texto_principal: #111827;
$cinza_secundario: #6B7280;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

aside {
    width: 240px;
    background-color: $bg_header;
    min-height: 100dvh;
    padding: 1rem 0;

    img {
        padding: 0 1rem 5rem;
        width: 8vw;
        min-width: 8rem;
        display: block;
        margin: 0 auto;
    }

    ul {
        margin: 0;
        padding: 0;
        
        li {
            list-style: none;

            a {
                background-color: $borda;
                width: 100%;
                display: block;
                padding: 1rem 2rem;
                border-bottom: 1px solid $cinza_secundario;
                text-decoration: none;
                text-align: center;
                color: $bg_header;
                transition: all .35s ease-in-out;

                &:hover {
                    background-color: $bg_header;
                    color: $borda;
                }
            }
        }
    }
}

main {
    padding: 1rem 0;
    background-color: $bg_geral;
    width: 100%;
}